.main-box {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.nav-bar {
    display: grid;
    grid-template-columns: 60px 60px 3fr 60px 60px 20px 80px;
    padding: 25px;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-family: Arial;
    font-size: 13px;
}

#about-link {
    grid-column-start: 1;
}

#store-link {
    grid-column-start: 2;
}

#gmail-link {
    grid-column-start: 4;
}

#images-link {
    grid-column-start: 5;
}

#grid-button {
    cursor: pointer;
    text-decoration: none;
    grid-column-start: 6;
}

#google-grid-img {
    transform: translate(0%, -30%);
    max-width: 150%;
    max-height: auto;
}

#sign-in-button {
    grid-column-start: 7;
    text-decoration: none;
    font-family: Arial;
    font-size: 13px;
}

#sign-in-div {
    transform: translate( 30%, -25%);
    background-color: rgb(19, 89, 194);
    border-radius: 2px;
}

#sign-in-text {
    text-align: center;
    color: white;
    padding: 8px;
}

#logo-grid {
    display: grid;
    margin-top: 125px;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas:
        'logo logo logo'
        'text text text'
        'search none lucky';
}

#logo-div {
    position: relative;
    transform: translate(-5%, 0%);
    /* grid-row-start: 1; */
    grid-area: logo;
}

#input-div {
    position: relative;
    /* grid-row-start: 2; */
    grid-area: text;
    height: 100%;
}

#search-input {
    position: relative;
    transform: translate(-20%, 0%);
    margin-top: 25px;
    margin-bottom: 50px;
    width: 150%;
    height: 40%;
    border-radius: 10px;
}

.main-button-div {
    background-color: rgb(241, 240, 240);
    padding: 7px;
    border-radius: 3px;
}

#search-button {
    grid-area: search;
    text-decoration: none;
}

#search-div {
    margin-right: -75px;
    padding: 7px 15px 7px 15px;
}

#search-text {
    color: rgb(61, 90, 90);
    font-size: 15px;
    padding: 2px;
}

#lucky-button {
    position: relative;
    grid-area: lucky;
    text-decoration: none;
}

#lucky-div {
    margin-left: -75px;
    padding: 7px 12px 7px 15px;
}

#lucky-text {
    color: rgb(61, 90, 90);
    font-size: 15px;
    padding: 2px;
}

.bottom-bar {
    display: grid;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1%;
    background-color: rgb(241, 240, 240);
    border-top: 1px solid darkgray;
    grid-template-columns: 100px 80px 180px 3fr 70px 60px 80px 18px;
    padding: 15px;
}

#advertising-link {
    grid-column-start: 1;
}

#business-link {
    grid-column-start: 2;
}

#how-it-works-link {
    grid-column-start: 3;
}

#privacy-link {
    grid-column-start: 5;
}

#terms-link {
    grid-column-start: 6;
}

#settings-link {
    grid-column-start: 7;
}

.bottom-bar-link {
    color: rgb(61, 90, 90);
    text-decoration: none;
    font-family: Arial;
    font-size: 15px;
    margin-top: auto;
}